<div class="card">
  <h2>{{ title }}</h2>
  <p-table
    [value]="restAccount"
    styleClass="p-datatable-sm"
    [resizableColumns]="true"
  >
    <ng-template pTemplate="caption">
      <button
        pButton
        (click)="getRestAccounts()"
        icon="pi pi-refresh"
        class="p-button-text p-button-success"
        label="Refresh"
      ></button>
      <button
        pButton
        (click)="showDialog()"
        icon="pi pi-plus"
        label="Add Account"
        class="p-button-text p-button-info"
      ></button>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Email</th>
        <th>Username</th>
        <th>&nbsp;</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-account>
      <tr>
        <td>{{ account.email }}</td>
        <td>{{ account.username }}</td>
        <td style="text-align: right" class="flex">
          <button
            pButton
            icon="pi pi-pencil"
            class="p-button-warning p-button-text inline-block"
            title="Edit Account"
            (click)="showDialogUpdate(account.id, 'btnEdit')"
          ></button>
          &nbsp;
          <button
            pButton
            icon="pi pi-times"
            class="p-button-danger p-button-text inline-block"
            title="Delete Account"
            (click)="showDialogUpdate(account.id, 'btnDelete')"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  header="{{ formTitle }} {{ confirmDel }}"
  [(visible)]="displayBasic"
  [style]="{ width: '50%' }"
  [baseZIndex]="10000"
  position="bottom"
>
  <div class="card">
    <div class="field grid">
      <label for="code" class="col-fixed" style="width: 150px">Email:</label>
      <div class="col">
        <input
          id="email"
          [(ngModel)]="account.email"
          placeholder="E-mail"
          class="inputfield w-full"
          pInputText
        />
      </div>
    </div>
    <div class="field grid">
      <label for="name" class="col-fixed" style="width: 150px"
        >Username:
      </label>
      <div class="col">
        <input
          id="name"
          [(ngModel)]="account.username"
          placeholder="Username"
          type="text"
          class="inputfield w-full"
          pInputText
        />
      </div>
    </div>
    <div class="field grid">
      <label for="pwd" class="col-fixed" style="width: 150px">Password: </label>
      <div class="col">
        <input
          id="pwd"
          [(ngModel)]="account.password"
          placeholder="Password"
          type="password"
          class="inputfield w-full"
          pInputText
        />
      </div>
    </div>
    <div class="field grid">
      <label class="col-fixed" style="width: 150px">Role</label>
      <div class="col" style="width: 100%">
        <div class="p-formgroup-inline">
          <div *ngFor="let role of roles" class="p-field">
            <p-radioButton
              [inputId]="role.key"
              name="category"
              [value]="role.key"
              [(ngModel)]="account.role"
            ></p-radioButton>
            <label [for]="role.key">{{ role.name }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="field grid">
      <label for="pwd" class="col-fixed" style="width: 150px">Area:</label>
      <div class="col">
        <p-listbox
          [options]="restArea"
          [(ngModel)]="account.area"
          optionLabel="name"
          optionValue="code"
        ></p-listbox>
      </div>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-times"
      label="Cancel"
      styleClass="p-button-text p-button-secondary"
      (click)="hideDialog()"
    ></p-button>
    <p-button
      icon="pi pi-trash"
      label="Delete"
      styleClass="p-button-text p-button-danger {{ isDelVisible }}"
      (click)="deleteRestAccount()"
    ></p-button>
    <p-button
      icon="pi pi-check"
      label="Update"
      styleClass="p-button-text p-button-warning {{ isUpdateVisible }}"
      (click)="updateRestAccount()"
    ></p-button>
    <p-button
      icon="pi pi-check"
      label="Save"
      styleClass="p-button-text {{ isSaveVisible }}"
      (click)="saveRestAccount()"
    ></p-button>
  </ng-template>
</p-dialog>
