<div class="flex align-items-center justify-content-center m-6">
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    <div class="text-center mb-5">
      <img
        src="assets/images/soldier-silhouette.png"
        alt="Image"
        height="50"
        class="mb-3"
      />
      <div class="text-900 text-3xl font-medium mb-3">ReportApp</div>
      <span class="text-600 font-medium line-height-3"
        >Don't have an account?</span
      >
      <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer"
        >Create today!</a
      >
    </div>

    <div>
      <form [formGroup]="form" (submit)="submit()">
        <label class="block text-900 font-medium mb-2">Username</label>
        <input
          formControlName="username"
          type="text"
          pInputText
          class="w-full mb-3"
          autofocus
        />

        <label for="password" class="block text-900 font-medium mb-2"
          >Password</label
        >
        <input
          formControlName="password"
          id="password"
          type="password"
          pInputText
          class="w-full mb-3"
        />

        <div class="flex align-items-center justify-content-between mb-6">
          <div class="flex align-items-center">
            <p-checkbox
              id="rememberme"
              [binary]="true"
              styleClass="mr-2"
            ></p-checkbox>
            <label for="rememberme">Remember me</label>
          </div>
          <a
            class="
              font-medium
              no-underline
              ml-2
              text-blue-500 text-right
              cursor-pointer
            "
            >Forgot your password?</a
          >
        </div>

        <button
          pButton
          pRipple
          label="Sign In"
          icon="pi pi-user"
          class="w-full"
          type="submit"
        ></button>
      </form>
    </div>
  </div>
</div>
