<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img
      src="assets/images/soldier-silhouette.png"
      height="40"
      class="p-mr-2"
    />
  </ng-template>
  <ng-template pTemplate="end">
    <button
      pButton
      icon="pi pi-user"
      class="p-button-text p-button-success"
      title="Profile"
      (click)="profile()"
    ></button>&nbsp;
    <button
      pButton
      icon="pi pi-power-off"
      class="p-button-text p-button-danger"
      title="Logout"
      (click)="logout()"
    ></button>
  </ng-template>
</p-menubar>
