<p-toolbar>
  <div class="p-toolbar-group-left">
    <button
      pButton
      class="p-button-outlined"
      icon="pi pi-chevron-left"
      title="Back"
      (click)="goBack()"
    ></button>
  </div>
  <div class="p-toolbar-group-center text-center text-lg">
    {{ report.what }}
  </div>
  <div class="p-toolbar-group-right">
    <button
      pButton
      class="p-button-outlined p-button-success"
      icon="pi pi-refresh"
      (click)="getReport()"
      title="Refresh"
    ></button>
  </div>
</p-toolbar>
<br />
<div class="card p-5 border-solid border-50 border-round border-2">
  <div class="grid">
    <div class="col">
      <div>
        <p>Kepada Yth.</p>
        <p>
          Kakan Kesbangpol Kota Depok <br />
          Camat {{ report.area }} <br />
          Ketua FKDM Kota Depok
        </p>
      </div>
      <div>
        <p>
          {{ reporter }} izin lapor <br />
          dalam kategori <b>{{ report.category }}</b> <br />
          FKDM {{ report.area }}
        </p>
      </div>
      <div>I. Pada tanggal {{ report.when }} terjadi {{ report.what }}</div>
      <div>Sebab {{ report.why }}</div>
      <div>Tampak hadir {{ report.who }}</div>
      <div>
        Bertempat di {{ report.where }} <br />
        {{ report.area }}
      </div>
      <div>
        <p>
          II. Kegiatan: <br />
          {{ report.how }}
        </p>
      </div>
      <p>Demikian</p>
    </div>
    <div class="col">
      <ul style="list-style: none" *ngFor="let url of fileurls">
        <li><img src="{{ url }}" style="width: 100%; height: auto" /></li>
      </ul>
    </div>
  </div>
</div>
