<p-toast></p-toast>
<div
  class="
    flex flex-row flex-wrap
    card-container
    blue-container
    m-1
    block
    border-round
    shadow-1
  "
>
  <div class="flex bg-blue-900 card p-2">
    <div class="card">
      <div>Welcome, {{ appuser }}</div>
      <p>
        Originally registered from: <br />
        {{ apparea }} <br />
      </p>
    </div>
  </div>
  <div class="flex bg-gray-800 p-2">
    <div class="card">
      <div class="field grid">
        <label for="category" class="col-fixed" style="width: 200px"
          >Category</label
        >
        <div class="col">
          <p-dropdown
            id="category"
            [options]="categories"
            optionLabel="name"
            optionValue="key"
            [(ngModel)]="report.category"
          ></p-dropdown>
        </div>
      </div>
      <div class="field grid">
        <label for="what" class="col-fixed" style="width: 200px">What</label>
        <div class="col-8">
          <input
            pInputText
            id="what"
            type="text"
            class="inputfield"
            placeholder="Beri judul / nama untuk kegiatan / acara / peristiwa"
            style="width: 400px"
            [(ngModel)]="report.what"
          />
        </div>
      </div>

      <div class="field grid">
        <label for="when" class="col-fixed" style="width: 200px">When</label>
        <div class="col-8">
          <p-calendar
            id="when"
            dateFormat="yy-mm-dd"
            [showTime]="false"
            [readonlyInput]="false"
            [showIcon]="true"
            placeholder="Kapan kejadiannya"
            [(ngModel)]="selDate"
          ></p-calendar>
        </div>
      </div>
      <div class="field grid">
        <label class="col-fixed" style="width: 200px">Why</label>
        <div class="col-8">
          <textarea
            pInputTextarea
            placeholder="Ceritakan latar belakang kejadian/acara berlangsung"
            [rows]="5"
            [cols]="40"
            [(ngModel)]="report.why"
          ></textarea>
        </div>
      </div>
      <div class="field grid">
        <label class="col-fixed" style="width: 200px">Who</label>
        <div class="col-8">
          <textarea
            pInputTextarea
            placeholder="Siapa saja yang hadir? Pisahkan dengan koma"
            [rows]="5"
            [cols]="40"
            [(ngModel)]="report.who"
          ></textarea>
        </div>
      </div>
      <div class="field grid">
        <label class="col-fixed" style="width: 200px">Where</label>
        <div class="col-8">
          <p-listbox
            [options]="restArea"
            optionLabel="name"
            optionValue="code"
            [(ngModel)]="report.area"
          ></p-listbox>
          <textarea
            pInputTextarea
            placeholder="Alamat lengkap kejadian / acara"
            [rows]="5"
            [cols]="40"
            [(ngModel)]="report.where"
          ></textarea>
        </div>
      </div>
      <div class="field grid">
        <label class="col-fixed" style="width: 200px">How</label>
        <div class="col-8">
          <textarea
            pInputTextarea
            placeholder="Bagaimana kejadian/acara berlangsung"
            [rows]="5"
            [cols]="40"
            [(ngModel)]="report.how"
          ></textarea>
        </div>
      </div>
      <div class="field grid">
        <label class="col-fixed" style="width: 200px">&nbsp;</label>
        <div class="col-8">
          <p-checkbox
            [(ngModel)]="report.classified"
            [binary]="true"
            label="Confidential (Rahasia)"
          ></p-checkbox>
        </div>
      </div>
      <div class="field grid">
        <label class="col-fixed" style="width: 200px">Images</label>
        <div class="col-8">
          <div
            class="bg-cyan-700 text-white pt-2 pb-2"
            style="border-top: 2px solid yellow"
          >
            <ol>
              <li>
                <em><strong>Choose</strong></em> (pilih 1 atau lebih gambar yang
                ingin diunggah/upload)
              </li>
              <li>
                <em><strong>Upload</strong></em> (untuk mengunggah/upload gambar
                yang telah dipilih
              </li>
              <li>
                <em><strong>Send Report</strong></em> (untuk menyimpan laporan
                secara keseluruhan)
              </li>
            </ol>
          </div>
          <p-fileUpload
            name="myfile[]"
            accept="image/*"
            [maxFileSize]="5000000"
            [multiple]="true"
            [customUpload]="true"
            (uploadHandler)="myUploader($event)"
          ></p-fileUpload>
        </div>
      </div>
      <div class="field grid">
        <div class="col-fixed" style="width: 200px"></div>
        <div class="col">
          <button
            pButton
            class="p-button-secondary"
            label="Cancel"
            icon="pi pi-times"
            (click)="clearReport()"
          ></button>
          <button
            pButton
            class="p-button-primary"
            label="Send Report"
            icon="pi pi-send"
            (click)="saveReport()"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
