<p-toast></p-toast>
<div class="card">
  <h2>{{ title }}</h2>
  <hr />
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <div [ngSwitch]="app_role">
        <div *ngSwitchCase="'admin'">
          <p-checkbox
            [(ngModel)]="classified"
            [binary]="true"
            label="Confidential (Rahasia)"
          ></p-checkbox>
        </div>
        <div *ngSwitchCase="'secret'">
          <p-checkbox
            [(ngModel)]="classified"
            [binary]="true"
            label="Confidential (Rahasia)"
          ></p-checkbox>
        </div>
        <div *ngSwitchDefault>&nbsp;</div>
      </div>
    </div>
    <div class="p-toolbar-group-right">
      <div [ngSwitch]="app_role">
        <div *ngSwitchCase="'admin'">
          <p-dropdown
            [options]="restArea"
            [(ngModel)]="area"
            optionLabel="name"
            optionValue="code"
            *ngIf="app_role === 'admin'"
          >
          </p-dropdown>
        </div>
        <div *ngSwitchCase="'reporter'">{{ app_area }} &nbsp;</div>
        <div *ngSwitchCase="'viewer'">{{ app_area }} &nbsp;</div>
        <div *ngSwitchCase="'secret'">{{ app_area }} &nbsp;</div>
        <div title="Please Reload" *ngSwitchDefault>
          <a href="/reports" style="color: white">No Area</a> &nbsp;
        </div>
      </div>
      <!-- <label *ngIf="app_role != 'admin'"></label> -->

      &nbsp; &nbsp;
      <p-dropdown
        [options]="monthOptions"
        [(ngModel)]="selectedMonth"
        optionLabel="monthName"
        optionValue="monthNum"
      >
      </p-dropdown>
      &nbsp; &nbsp;
      <button
        pButton
        class="p-button-primary p-button-outlined"
        label="Show"
        (click)="showData()"
      ></button>
    </div>
  </p-toolbar>

  <div class="card">
    <p-table
      [value]="restReport"
      styleClass="p-datatable-sm p-datatable-gridlines"
      [resizableColumns]="true"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>&nbsp;</th>
          <th pResizableColumn>Area</th>
          <th pResizableColumn>Category</th>
          <th pResizableColumn>Date</th>
          <th pResizableColumn>Title</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-report>
        <tr>
          <td class="center">
            <button
              pButton
              icon="pi pi-eye"
              class="p-button-info p-button-text inline-block"
              title="See Detail"
              (click)="showDetail(report.id)"
            ></button>
            <button
              pButton
              icon="pi pi-pencil"
              class="p-button-warning p-button-text inline-block"
              title="Update"
              *ngIf="app_role == 'admin'"
              (click)="showDialogUpdate(report.id, 'btnEdit')"
            ></button>
            <button
              pButton
              icon="pi pi-trash"
              class="p-button-danger p-button-text inline-block"
              title="Delete"
              *ngIf="app_role == 'admin'"
              (click)="showDialogUpdate(report.id, 'btnDelete')"
            ></button>
          </td>
          <td>{{ report.area }}</td>
          <td>{{ report.category }}</td>
          <td>{{ report.when }}</td>
          <td>{{ report.what }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  header="{{ formTitle }}"
  [(visible)]="displayBasic"
  [style]="{ width: '50%' }"
  [baseZIndex]="10000"
  position="bottom"
>
  <div class="card">
    <div class="field grid">
      <label for="code" class="col-fixed" style="width: 150px">Category:</label>
      <div class="col">
        <p-dropdown
          id="category"
          [options]="categories"
          optionLabel="name"
          optionValue="key"
          [(ngModel)]="report.category"
        ></p-dropdown>
      </div>
    </div>
    <div class="field grid">
      <label for="code" class="col-fixed" style="width: 150px">What:</label>
      <div class="col">
        <input
          id="what"
          [(ngModel)]="report.what"
          class="inputfield w-full"
          pInputText
        />
      </div>
    </div>
    <div class="field grid">
      <label for="code" class="col-fixed" style="width: 150px">When:</label>
      <div class="col">
        <input
          id="when"
          [(ngModel)]="report.when"
          class="inputfield w-full"
          pInputText
        />
      </div>
    </div>
    <div class="field grid">
      <label for="code" class="col-fixed" style="width: 150px">Why:</label>
      <div class="col">
        <input
          id="why"
          [(ngModel)]="report.why"
          class="inputfield w-full"
          pInputText
        />
      </div>
    </div>
    <div class="field grid">
      <label for="code" class="col-fixed" style="width: 150px">Who:</label>
      <div class="col">
        <input
          id="who"
          [(ngModel)]="report.who"
          class="inputfield w-full"
          pInputText
        />
      </div>
    </div>
    <div class="field grid">
      <label for="code" class="col-fixed" style="width: 150px">Where:</label>
      <div class="col">
        <p-listbox
          [options]="restArea"
          [(ngModel)]="report.area"
          optionLabel="name"
          optionValue="code"
          class="w-full"
          *ngIf="app_role === 'admin'"
        >
        </p-listbox>
        <input
          id="where"
          [(ngModel)]="report.where"
          class="inputfield w-full"
          pInputText
        />
      </div>
    </div>
    <div class="field grid">
      <label for="code" class="col-fixed" style="width: 150px">How:</label>
      <div class="col">
        <input
          id="how"
          [(ngModel)]="report.how"
          class="inputfield w-full"
          pInputText
        />
      </div>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-times"
      label="Cancel"
      styleClass="p-button-text p-button-secondary"
      (click)="hideDialog()"
    ></p-button>
    <p-button
      icon="pi pi-trash"
      label="Delete"
      styleClass="p-button-text p-button-danger {{ isDelVisible }}"
      (click)="deleteReport()"
    ></p-button>
    <p-button
      icon="pi pi-check"
      label="Update"
      styleClass="p-button-text p-button-warning {{ isUpdateVisible }}"
      (click)="updateReport()"
    ></p-button>
  </ng-template>
</p-dialog>
