<div class="card">
  <h2>{{ title }}</h2>
  <p-table
    [value]="restArea"
    styleClass="p-datatable-sm"
    [resizableColumns]="true"
  >
    <ng-template pTemplate="caption">
      <button
        pButton
        (click)="getRestAreas()"
        icon="pi pi-refresh"
        class="p-button-text p-button-success"
        label="Refresh"
      ></button>
      &nbsp;
      <button
        pButton
        (click)="showDialog()"
        icon="pi pi-plus"
        label="Add Area"
        class="p-button-text p-button-info"
      ></button>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="code">
          Area Code <p-sortIcon field="code"></p-sortIcon>
        </th>
        <th>Area Name</th>
        <th>&nbsp;</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-area>
      <tr>
        <td>{{ area.code }}</td>
        <td>{{ area.name }}</td>
        <td style="text-align: right" class="flex">
          &nbsp;
          <div [hidden]="area.default_area">
            <button
              pButton
              icon="pi pi-pencil"
              class="p-button-warning p-button-text inline-block"
              title="Edit Area"
              label="Edit"
              (click)="showDialogUpdate(area.id, 'btnEdit')"
            ></button>
            &nbsp;
            <button
              pButton
              icon="pi pi-times"
              class="p-button-danger p-button-text inline-block"
              title="Delete Area"
              label="Delete"
              (click)="showDialogUpdate(area.id, 'btnDelete')"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  header="{{ formTitle }} {{ confirmDel }}"
  [(visible)]="displayBasic"
  [style]="{ width: '50%' }"
  [baseZIndex]="10000"
  position="bottom"
>
  <div class="card">
    <div class="field grid">
      <label for="code" class="col-fixed" style="width: 150px"
        >Area Code:
      </label>
      <div class="col">
        <input
          id="code"
          [(ngModel)]="area.code"
          placeholder="area code"
          class="inputfield w-full"
          pInputText
        />
      </div>
    </div>
    <div class="field grid">
      <label for="name" class="col-fixed" style="width: 150px"
        >Area Name:
      </label>
      <div class="col">
        <input
          id="name"
          [(ngModel)]="area.name"
          placeholder="area name"
          type="text"
          class="inputfield w-full"
          pInputText
        />
      </div>
    </div>
    <div class="field grid">
      <label for="parent" class="col-fixed" style="width: 150px"
        >Parent:
      </label>
      <div class="col">
        <input
          id="parent"
          [(ngModel)]="area.parent"
          placeholder="higher area"
          type="text"
          class="inputfield w-full"
          pInputText
        />
      </div>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-times"
      label="Cancel"
      styleClass="p-button-text p-button-secondary"
      (click)="hideDialog()"
    ></p-button>
    <p-button
      icon="pi pi-trash"
      label="Delete"
      styleClass="p-button-text p-button-danger {{ isDelVisible }}"
      (click)="deleteRestArea()"
    ></p-button>
    <p-button
      icon="pi pi-check"
      label="Update"
      styleClass="p-button-text p-button-warning {{ isUpdateVisible }}"
      (click)="updateRestArea()"
    ></p-button>
    <p-button
      icon="pi pi-check"
      label="Save"
      styleClass="p-button-text {{ isSaveVisible }}"
      (click)="saveRestArea()"
    ></p-button>
  </ng-template>
</p-dialog>
